body {

    font-family: Arial, sans-serif;
    background: #202124;
    color: white;
    text-align: center;

}


.container {

    width: 350px;
    margin: 50px auto;
    background: #303134;
    padding: 25px;
    border-radius: 15px;

}


.clock {

    background: black;
    padding: 20px;
    border-radius: 10px;

}


h1 {

    color: #00ff99;

}


button {

    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background: #00ff99;
    cursor: pointer;

}


button:hover {

    background: white;

}


#timer, #time {

    font-size: 35px;

}


.attendance, .stopwatch {

    margin-top: 25px;

}