body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
}

.app {
    width: 350px;
    margin: 40px auto;
    background: #222;
    padding: 20px;
    border-radius: 20px;
}

.cover {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

audio {
    width: 100%;
    margin-top: 20px;
}

button {
    background: #1db954;
    color: white;
    border: none;
    padding: 15px;
    margin: 5px;
    border-radius: 50%;
}

li {
    list-style: none;
    padding: 10px;
    background: #333;
    margin: 5px;
    cursor: pointer;
}